html {
  height: 100%;
}

body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

input {
  margin: 3px;
}

.fill {
  min-height: 100%;
  height: 100%;
}

.navbar {
  background-color: white;
  flex: 0 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

a {
  color: #002f6c;
  text-decoration: none;
}

.form a:hover {
  color: #5ea4ff;
}

.navbar a {
  display: flex;
  align-items: center;
}

.navbar a:hover {
  color: #5ea4ff;
}

.main a:hover {
  text-decoration: underline;
}

.btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  color: #002f6c;
}

.btn:hover {
  color: #5ea4ff;
}

button {
  font-size: 16px;
  color: #002f6c;
  border-color: #002f6c;
  background-color: white;
  transition-duration: 0.4s;
  cursor: pointer;
  border-width: 1px;
}

button:hover {
  color: white;
  background-color: #002f6c;
}

.navbarRight {
  margin-right: 40px;
  display: flex;
  justify-content: right;
  gap: 10px;
}

.navbarLeft {
  margin-left: 40px;
  display: flex;
  gap: 10px;
  height: 100%;
}

.main {
  background-color: #eeeeee;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 10px;
  height: 10%;
}

.right {
  overflow-y: scroll;
}

.form {
  margin: auto;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.8);
  font-size: x-large;
  padding: 15px;
  width: 200px;
}

.eventCard {
  background-color: white;
  margin-top: 5px;
  border-radius: 10px;
  padding: 10px;
  width: 280px;
}

.logButtons {
  padding-top: 5px;
  padding-left: 40px;
  margin: auto;
  width: max-content;
  background-color: #eeeeee;
  box-sizing: border-box;
}

.content {
  background-color: white;
  margin-top: 5px;
  padding: 5px;
  width: 690px;
}

#sideNav {
  color: black;
  background-color: #eeeeee;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: 10px;
}

.sideNavTitle {
  width: 300px;
}

.dropdown {
  display: inline-block;
  color: #002f6c;
}

.dropdown:hover {
  color: #5ea4ff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  padding: 5px;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.dropdown-content a {
  color: black;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdownTitle {
  height: 100%;
  display: flex;
  align-items: center;
}

.leaflet-container {
  height: 90%;
  z-index: 1;
  margin-bottom: 10px;
}

iframe {
  display: none;
}

.navbar-input {
  padding: 6px;
  font-size: 17px;
}

.search-no-content {
  display: none;
  position: absolute;
}

.search-container {
  width: 250px;
}

.search-content {
  display: block;
  position: absolute;
  background-color: white;
  padding: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
  width: 250px;
  max-height: 300px;
  overflow-y: scroll;
}

.formtitle {
  height: 100%;
  display: flex;
  align-items: center;
}

.boat_info {
  margin: 5px;
}

.boat_info_card {
  background-color: white;
  margin-top: 100px;
  margin-right: 10px;
  width: 200px;
}

.boat_avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: -100px;
}

.user_avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: -60px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eeeeee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.boat_card {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 2px;
}

.mobileSelector {
  display: block;
  background-color: #eeeeee;
}

.mobileLinks {
  position: relative;
}

.mobileNavbar a {
  padding: 14px 16px;
}

.mobileLinks button {
  padding: 14px 16px;
}

.barContainer {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px 16px;
}

.bar {
  width: 20px;
  height: 4px;
  background-color: #002f6c;
  margin: 5px 0;
  transition: 0.4s;
}

.singleBoatToggle {
  margin-top: 5px;
  padding-left: 5px;
  width: 700px;
}

.logger {
  background-color: white;
  padding: 10px;
  width: 75%;
}

.singleBoatLogs {
  margin-top: 5px;
  padding-left: 5px;
  width: 700px;
  overflow-y: scroll;
}

.singleUserInfo {
  background-color: white;
  margin-right: 10px;
  margin-top: 60px;
  width: 200px;
}

::file-selector-button {
  font-size: 16px;
  color: #002f6c;
  border-color: #002f6c;
  background-color: white;
  transition-duration: 0.4s;
  cursor: pointer;
  border-width: 1px;
}

::file-selector-button:hover {
  color: white;
  background-color: #002f6c;
}

@media (max-width: 1200px) {
  .singleBoatToggle {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 1000px) {
  .sideNavTitle {
    width: 100%;
  }
  #sideNav {
    width: 100%;
    margin-right: 0;
  }
  .eventCard {
    width: 100%;
    box-sizing: border-box;
  }
  .right {
    width: 100%;
  }
  .content {
    width: 100%;
    box-sizing: border-box;
  }
  .logButtons {
    width: 100%;
    padding-left: 5px;
  }
  .boat_avatar {
    margin-top: 10px;
    border-radius: 0;
    border-radius: 5px;
  }
  .boat_info_card {
    width: 100%;
    margin-top: 0px;
  }
  .boat_info {
    width: 100%;
  }
  .mobileLinks {
    z-index: 98;
    position: absolute;
    background-color: white;
    width: 100%;
  }
  .logger {
    width: 100%;
  }
  .singleBoatLogs {
    width: 100%;
    box-sizing: border-box;
  }
  .singleUserInfo {
    background-color: white;
    margin: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  .user_avatar {
    width: 120px;
    height: 120px;
    border-radius: 5%;
    margin-top: 5px;
  }
}
